%h1 Listing news_items

%table
  %tr
    %th Author name
    %th Project name
    %th Project link
    %th Author link
    %th Date
    %th Thumb url
    %th Link
    %th Title
    %th Message
    %th Read
    %th
    %th
    %th

  - @news_items.each do |news_item|
    %tr
      %td= news_item.author_name
      %td= news_item.project_name
      %td= news_item.project_link
      %td= news_item.author_link
      %td= news_item.date
      %td= news_item.thumb_url
      %td= news_item.link
      %td= news_item.title
      %td= news_item.message
      %td= news_item.read
      %td= link_to 'Show', news_item
      %td= link_to 'Edit', edit_news_item_path(news_item)
      %td= link_to 'Destroy', news_item, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New News item', new_news_item_path
